# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

/ios
/android

# Screenshots and Logs
*.png
*.jpg
*.jpeg
*.webp
*.log
*.txt
*.xml
*.csv
*.docx
*.pdf
*.hprof
*.config
*.example
Design/
Uccara onboarding/
uccara_explore_mockup.html
uccara-other-screens-mockup.html
uccara_dark_mode.html
# generated native folders
google-services.json
